.vscode/settings.json
.vscode/tasks.json
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/Parser.exe
build/Parser.sln
build/Parser.vcxproj
build/Parser.vcxproj.filters
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-7d65597ada1ced93730e.json
build/.cmake/api/v1/reply/cmakeFiles-v1-1836810f9e54ba501f51.json
build/.cmake/api/v1/reply/codemodel-v2-ad95f185855bcc8d0aeb.json
build/.cmake/api/v1/reply/index-2022-11-11T17-31-10-0231.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-d510d35229671e74ab42.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-d510d35229671e74ab42.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-d510d35229671e74ab42.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-d510d35229671e74ab42.json
build/.cmake/api/v1/reply/target-Parser-Debug-827d3cbfdbdc88a4dcaf.json
build/.cmake/api/v1/reply/target-Parser-MinSizeRel-020f0511e693892f056d.json
build/.cmake/api/v1/reply/target-Parser-Release-88ef471a14bd90decac3.json
build/.cmake/api/v1/reply/target-Parser-RelWithDebInfo-028e209bd79d69ef5f42.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Debug-f3dd68a99771a81916ee.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-MinSizeRel-f3dd68a99771a81916ee.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Release-f3dd68a99771a81916ee.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-RelWithDebInfo-f3dd68a99771a81916ee.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.19.4/CMakeCXXCompiler.cmake
build/CMakeFiles/3.19.4/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.19.4/CMakeRCCompiler.cmake
build/CMakeFiles/3.19.4/CMakeSystem.cmake
build/CMakeFiles/3.19.4/VCTargetsPath.txt
build/CMakeFiles/3.19.4/VCTargetsPath.vcxproj
build/CMakeFiles/3.19.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.19.4/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.19.4/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.19.4/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.19.4/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.19.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.19.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.19.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.19.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.19.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.19.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.19.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.19.4/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.19.4/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/564f5b0f3e226fb9f2f7628340387fd4/generate.stamp.rule
build/Debug/Parser.exe
build/Debug/Parser.pdb
build/Parser.dir/Debug/AbstractParser.obj
build/Parser.dir/Debug/CppParser.obj
build/Parser.dir/Debug/Lexer.obj
build/Parser.dir/Debug/main.obj
build/Parser.dir/Debug/Parser.exe.recipe
build/Parser.dir/Debug/Parser.ilk
build/Parser.dir/Debug/Parser.obj
build/Parser.dir/Debug/SharedParser.obj
build/Parser.dir/Debug/SqlCreateDefinitionParser.obj
build/Parser.dir/Debug/SqlCreateTableParser.obj
build/Parser.dir/Debug/SqlLexer.obj
build/Parser.dir/Debug/SqlParser.obj
build/Parser.dir/Debug/State.obj
build/Parser.dir/Debug/TestLexer.obj
build/Parser.dir/Debug/TestParser.obj
build/Parser.dir/Debug/Token.obj
build/Parser.dir/Debug/vc142.pdb
build/Parser.dir/Debug/Parser.tlog/CL.command.1.tlog
build/Parser.dir/Debug/Parser.tlog/CL.read.1.tlog
build/Parser.dir/Debug/Parser.tlog/CL.write.1.tlog
build/Parser.dir/Debug/Parser.tlog/CustomBuild.command.1.tlog
build/Parser.dir/Debug/Parser.tlog/CustomBuild.read.1.tlog
build/Parser.dir/Debug/Parser.tlog/CustomBuild.write.1.tlog
build/Parser.dir/Debug/Parser.tlog/link.command.1.tlog
build/Parser.dir/Debug/Parser.tlog/link.read.1.tlog
build/Parser.dir/Debug/Parser.tlog/link.write.1.tlog
build/Parser.dir/Debug/Parser.tlog/Parser.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
